.scoreboard{
    background-color: #0003;
    width: 110px;
    height: max-content;
    padding: 15px;
    margin: 10px;
    border-radius: 3px;
    font: 300;
    font-size: 8em;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.scoreboard.o{
    color: white;
    position: fixed;
    right: 0;
}
.scoreboard.x{
    color: rgb(37, 37, 37);
    position: fixed;
    left: 0;
}
.scoreboard.line{
    display: inline;
}